@import "fontawesome/solid.min.css";
@import "fontawesome/brands.min.css";
@import "fontawesome/regular.min.css";
@import "fontawesome/v4-shims.min.css";
@import "fontawesome/all.min.css";

html,
body {
  scroll-behavior: smooth;
  margin: 0;
}

/* generic */

.orangeCircle {
  margin-top: 5%;
  width: 70%;
  max-width: 120px;
  border-style: solid;
  border-width: 3px;
  border-color: tomato;
  border-radius: 50%;
}

.mainTitle {
  margin: 10px;
  font-size: 60px;
  color: #3b3d40;
}

.columnCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav */

header {
  background-color: #fd644f;
}

nav {
  display: flex;
  justify-content: center;
  color: white;
}

.navItemns {
  display: flex;
  justify-content: start;
}

.navItemns li {
  margin: 20px;
  list-style: none;
}

.navItemns li a {
  text-decoration: none;
  color: white;
}

.navSocial {
  display: flex;
  justify-content: end;
}

.navSocial a i {
  color: white;
  font-size: 32px;
  margin: 5px;
}

/* hero */

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albertImg {
  margin-top: 5%;
  width: 20%;
}

.titleHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.title {
  margin: 0;
  font-size: 60px;
}

.subtitle {
  margin: 0;
  margin-bottom: 10%;
  font-size: 30px;
}

.downArrow {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.downArrow img {
  width: 60%;
}

/* startup */

.startupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.borderIcon {
  margin-top: 5%;
  width: 70%;
  max-width: 120px;
  border-style: solid;
  border-width: 3px;
  border-color: tomato;
  border-radius: 50%;
}

.startupLegend {
  margin-bottom: 5%;
  width: 60%;
  font-size: 20px;
  text-align: center;
}

.startupText {
  display: flex;
  justify-content: start;
  width: 80%;
}

.startupText p {
  margin: 2%;
  color: gray;
  margin-bottom: 5%;
}

/* Lo que hacemos */

.whatWeDoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderIconWhatWeDo {
  margin-top: 5%;
  width: 70%;
  max-width: 120px;
  border-style: solid;
  border-width: 3px;
  border-color: tomato;
  border-radius: 50%;
}

.borderIconWhatWeDo img {
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
}

.whatWeDoLegend {
  width: 45%;
  font-size: 20px;
  color: gray;
}

.whatWeDoItemList {
  display: flex;
  justify-content: center;
}

.whatWeDoItem {
  width: 70%;
  max-width: 300px;
  margin: 5%;
}

.whatWeDoItem h1 {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.whatWeDoItem p {
  font-size: 15px;
  text-align: center;
  color: gray;
}

.whatWeDoItem img {
  display: block;
  margin: auto;
  width: 50%;
}

/* team */

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7%;
}

.mainTitleTeam {
  width: 50%;
  text-align: center;
}

.teamLegend {
  color: #fd644f;
  width: 50%;
  text-align: center;
  margin-bottom: 0;
}

.teamLegendAutors {
  color: #fd644f;
  font-size: 12px;
  margin-bottom: 70px;
}

.carousel {
  max-width: 80%;
}

.carouselItem {
  display: flex;
  justify-content: center;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.teamMember:hover {
  box-shadow: 0 0 5px gray;
}

.teamMemberAvatar {
  border-radius: 50%;
}

.teamMemberTextOne {
  color: gray;
  font-size: 15px;
  width: 70%;
}

.teamMemberTextTwo {
  color: black;
  font-size: 13px;
  margin-bottom: 0;
}

.teamMemberTextThree {
  color: gray;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 10%;
}

/* casos de exito */

.successStoriesContainer {
  background-color: #fd644f;
  color: white;
  padding-bottom: 7%;
}

.successStoriesTitle {
  font-size: 13px;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* clientes */

.customersMainTitle {
  margin-top: 5%;
}

.customersGrid {
  padding: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.customersGrid img {
  width: 18%;
}

/* hablemos */

.letsTalkContainer {
  background-color: tomato;
  padding-bottom: 5%;
}

.letsTalkMainTitle {
  color: white;
  margin-top: 5%;
}

.letsTalkText {
  color: white;
  font-size: 20px;
  margin-top: 0;
}

.formInput {
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  margin: 2%;
  background-color: #fd7b69;
  width: 300px;
}

.formInput::placeholder {
  color: white;
  padding: 10px;
}

.formButton {
  border: 0px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  color: #fd644f;
  margin: 2%;
  width: 100px;
}

/* footer */

.footerContainer {
  background-color: black;
}

.firstLineFooter {
  color: gray;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
}

.footerInfoTextPosition {
  display: flex;
  justify-content: center;
}

.footerInfoText {
  margin: 20px;
  color: gray;
}

.footerInfoText p {
  margin: 0px;
}

.footerBrand {
  display: flex;
  justify-content: flex-end;
  color: gray;
  padding-right: 10%;
  font-size: 8px;
}

/* responsive */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
